.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  padding: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.field {
  border: 1px solid var(--main-color-lighter);
}

.label {
  font-size: var(--font-size-medium);
  color: var(--text-color);
}

.result {
  background-color: var(--main-color-background);
  color: var(--main-color-foreground);
  padding: 10px;
  display: flex;
}

.select {
  color: inherit;
  background-color: transparent;
  border: none;
  flex: 1;
}

.search {
  padding: 15px;
  flex: 1;
  background-color: var(--main-color-lighter);
  border: var(--light-border);
  color: var(--text-color);
}

.search:focus {
  outline: 2px solid var(--supporting-color-darker);
}

.search::placeholder {
  color: var(--text-color);
}

.error {
  background-color: var(--black);
  color: var(--main-color-foreground);
}

.actions {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.button,
.cancel {
  padding: 20px;
  border: none;
  flex: 1;
  font-size: var(--font-size-small);
}

.button,
.cancel,
.submit,
.search {
  border-radius: var(--border-radius);
}

.button {
  background-color: var(--main-color-strong);
  color: var(--main-color-foreground);
}

.cancel {
  background-color: var(--supporting-color-darker);
  color: var(--main-color-background);
}

.mobile {
  display: none;
}

@media screen and (max-width: 50rem) {
  .mobile {
    display: block;
  }
}
