.wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.avatar {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
  background-color: var(--black);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.user {
  font-size: var(--font-size-smaller);
}

@media screen and (max-width: 37.5rem) {
  .user {
    display: none;
  }
}
