.toast {
  padding: 10px;
  border-radius: var(--border-radius);
  color: var(--text-color);
  display: flex;
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-small);

  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  box-shadow: var(--shadow);

  animation: fadeIn 1000ms ease-out forwards;
}

.success {
  background-color: var(--main-color-strong);
}

.error {
  background-color: var(--contrast-color);
  color: var(--black);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -100%);
  }

  to {
    opacity: 1;
    /* transform: translateY(-50%); */
  }
}
