.toast {
  padding: 10px;
  border-radius: var(--border-radius);
  color: var(--text-color);
  display: flex;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-small);

  position: fixed;
  top: 10%;
  left: 50%;
  width: fit-content;
  box-shadow: var(--shadow);
  transform: translate(-50%, -50%);
  animation: fadeIn 1000ms ease-out forwards;
}

.success {
  background-color: var(--main-color-strong);
}

.error {
  background-color: var(--contrast-color);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
