.main {
  flex: 1;
  display: flex;
  max-height: 100%;
}

.sidebar {
  background-color: var(--aside-color);
  flex: 2;
  display: flex;
  flex-direction: column;

  /* possibly replace vh units! */
}

.focus {
  flex: 7;
  display: flex;
  flex-direction: column;
  background-color: var(--main-focus-color);
}

.chats {
  color: var(--text-color);
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.title {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  display: flex;
  align-items: center;
  gap: 10px;
  color: inherit;
  padding: 20px;
}

.chats svg {
  line-height: 0;
}

.new {
  margin-top: auto;
  display: flex;
  padding: 20px;
}

.create {
  background-color: var(--main-color-strong);
  color: var(--text-color);
  padding: 15px 30px;
  border: none;
  display: flex;
  gap: 10px;
  justify-content: center;
  position: sticky;
  bottom: 0;
  border-radius: var(--border-radius);
}

.chat {
  background-color: var(--main-color-strong);
  color: var(--text-color);
  border: none;
  margin-top: auto;
  padding: 15px;
  flex: 1;

  /* width: 100%; */
}

.icon {
  color: var(--text-color);
}

.icon svg {
  color: inherit;
  line-height: 0;
}

.flex {
  flex: 1;
  padding: 10px;
}

.search {
  display: flex;
  padding: 10px;
}

.group:nth-child(1) {
  flex: 3;
  display: flex;
}

.field {
  flex: 1;
  background-color: var(--main-color-lighter);
  border: var(--light-border);
  border-radius: var(--border-radius-left-side);
  color: var(--text-color);
}

.submit,
.field {
  padding: 15px;
  font-size: var(--font-size-small);
}

.submit {
  background-color: var(--main-color-strong);
  color: var(--text-color);
  border-radius: var(--border-radius-right-side);
  border: var(--light-border);
  border-left: none;
}

.wrapper {
  flex: 1;
}

.bottom {
  margin-top: auto;
  display: flex;
}

.search,
.display,
.chat {
  display: none;
}

@media screen and (max-width: 50rem) {
  .sidebar {
    display: none;
  }

  .search {
    display: flex;
  }

  .display,
  .chat {
    display: block;
  }
}
