.main {
  flex: 1;
  display: flex;
}

.sidebar {
  background-color: var(--supporting-color);
  flex: 2;
  display: flex;
  flex-direction: column;
}

.focus {
  flex: 7;
  display: flex;
  flex-direction: column;
}

.new {
  margin-top: auto;
}

.chat {
  background-color: var(--main-color-strong);
  color: var(--text-color);
  border: none;
  margin-top: auto;
  padding: 15px;
  flex: 1;

  /* width: 100%; */
}

.flex {
  flex: 1;
  padding: 10px;
}

.search {
  display: flex;
  padding: 10px;
}

.group:nth-child(1) {
  flex: 3;
  display: flex;
}

.field {
  flex: 1;
  background-color: var(--main-color-lighter);
  border: none;
}

.submit,
.field {
  padding: 15px;
  border: none;
}

.submit {
  background-color: var(--main-color-strong);
  color: var(--text-color);
}

.wrapper {
  flex: 1;
}

.bottom {
  margin-top: auto;
  display: flex;
}

.search,
.display,
.chat {
  display: none;
}

@media screen and (max-width: 50rem) {
  .sidebar {
    display: none;
  }

  .search {
    display: flex;
  }

  .display,
  .chat {
    display: block;
  }
}
