.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.chats {
  padding: 10px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.contact {
  background-color: var(--black);
  color: var(--main-color-foreground);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.status {
  font-size: 0.8rem;
}

.chat {
  display: flex;
  margin-top: auto;
  align-items: stretch;
}

.group {
  flex: 1;
  display: flex;
}

.group:nth-child(1) {
  flex: 3;
}

.message,
.submit {
  padding: 10px;
  border: none;
}

.submit {
  background-color: var(--main-color-background);
  color: var(--main-color-foreground);
  padding: 0 60px;
}

.message {
  width: 100%;
  resize: none;
}

@media screen and (max-width: 50rem) {
  .submit {
    flex: 1;
  }

  .submit {
    padding: 10px;
  }
}

@media screen and (max-width: 37.5em) {
  .message,
  .submit {
    padding: 5px;
  }
}
