.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.chats {
  padding: 10px;
  padding-top: 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.contact {
  background-color: var(--black);
  color: var(--main-color-foreground);
  padding: 15px;
  display: flex;
  gap: 10px;
}

.details {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: var(--border-radius-circle);
  color: var(--text-color);
  background-color: var(--main-color);
  border: var(--light-border);
  display: flex;
  justify-content: center;
  align-items: center;
}

.status {
  font-size: 0.8rem;
}

.chat {
  display: flex;
  margin-top: auto;
  align-items: stretch;
  padding: 10px;
}

.group {
  flex: 1;
  display: flex;
}

.group:nth-child(1) {
  flex: 3;
}

.message,
.submit {
  padding: 10px;
  border: none;
}

.submit {
  background-color: var(--main-color-strong);
  color: var(--text-color);
  padding: 0 60px;
  border-radius: var(--border-radius-right-side);
}

.message {
  width: 100%;
  resize: none;
  background-color: var(--main-color-lighter);
  border-radius: var(--border-radius-left-side);
  color: var(--text-color);
}

@media screen and (max-width: 50rem) {
  .submit {
    flex: 1;
  }

  .submit {
    padding: 10px;
  }
}

@media screen and (max-width: 37.5em) {
  .message,
  .submit {
    padding: 5px;
  }
}
