.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--main-color-background);
  color: var(--main-color-foreground);
  align-items: baseline;
  border-bottom: var(--lighter-border);
}

.logo {
  font-weight: var(--font-weight-bold);
  color: var(--main-color-foreground);
}

.reset {
  background-color: transparent;
  border: none;
  color: inherit;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-medium);
}

.list {
  list-style: none;
  display: flex;
  align-items: baseline;
  gap: 20px;
}

.link:link,
.link:visited {
  color: var(--main-color-foreground);
  text-decoration: none;
}

@media screen and (max-width: 37.5rem) {
}
