.backdrop {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.register {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  flex-basis: 400px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title {
  text-align: center;
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  color: var(--text-color);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* fix maybe */
}

.label {
  font-size: var(--font-size-medium);
  color: var(--text-color);
}

.group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.field,
.submit {
  border-radius: 0;
  background-color: var(--main-color-lighter);
  border: var(--light-border);
  padding: 16px;
  border-radius: 4px;
  color: var(--text-color);
}

.field:focus {
  background-color: var(--main-color);
  color: var(--text-color);
  outline: 2px solid var(--supporting-color);
}

.field:focus .field::placeholder {
  color: var(--text-color);
}

.submit {
  background-color: var(--main-color-strong);
  color: var(--text-color);
  border: none;
  padding: 16px;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.submit svg {
  line-height: 0;
}

.aside {
  display: flex;
  justify-content: center;
  color: var(--text-color);
  padding: 10px 0;
}

.action {
  color: inherit;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.submit:hover {
  background-color: var(--contrast-color);
}
