.chat {
  padding: 10px;
  padding-right: 20px;
  display: flex;
  gap: 2.5px;
  flex-direction: column;
  background-color: var(--main-color-lighter);
  color: var(--text-color);
  width: fit-content;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

.text {
  font-size: var(--font-size-small);
}

.right {
  align-self: flex-end;
}

.left {
  align-self: flex-start;
}

.time {
  font-size: 0.8rem;
  align-self: flex-end;
}

@media screen and (max-width: 50rem) {
}
