.chat {
  padding: 5px 20px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  background-color: var(--supporting-color);
  min-width: 180px;
}

.right {
  align-self: flex-end;
}

.left {
  align-self: flex-start;
}

.time {
  font-size: 0.8rem;
  align-self: flex-end;
}

@media screen and (max-width: 50rem) {
}
