:root {
  /* colors go here */
  --font-weight-normal: 500;
  --font-weight-bold: 800;
  --main-color-background: hsl(220deg 85% 45%);
  --main-color-foreground: hsl(220deg 30% 95%);
  --supporting-color: hsl(220deg 70% 90%);
  --white: hsl(220deg 20% 95%);
  --supporting-color-darker: hsl(220deg 100% 85%);
  --black: hsl(220deg 70% 10%);
  --gray: hsl(220deg 30% 30%);
  --backdrop-color: hsl(220deg 90% 90% / 0.9);
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  background-color: var(--white);
  color: var(--black);
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Reddit Sans', sans-serif;
  font-weight: var(--font-weight-normal);
  color: var(--black);
  font-size: 1.1rem;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#auth {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
