:root {
  /* colors go here */
  --font-weight-normal: 500;
  --font-weight-bold: 800;

  --main-color-foreground: hsl(220deg 30% 95%);
  --supporting-color: hsl(220deg 70% 90%);
  --white: hsl(220deg 20% 95%);
  --supporting-color-darker: hsl(220deg 100% 85%);

  --gray: hsl(220deg 30% 30%);
  --backdrop-color: hsl(220deg 90% 90% / 0.9);
  --backdrop-color-dark: hsl(220deg 50% 10% / 0.75);
  --aside-color: hsl(220deg 30% 15%);
  --main-focus-color: hsl(220deg 35% 20%);
  --main-focus-color-next: hsl(250deg 45% 30%);
  --gradient-one: linear-gradient(
    var(--main-focus-color),
    var(--main-focus-color-next)
  );
  --main-color-strong: hsl(220deg 95% 45%);
  --main-color: hsl(220deg 30% 25%);
  --main-color-next: hsl(250deg 50% 40%);
  --gradient-two: linear-gradient(var(--main-color), var(--main-color-next));
  --contrast-color: hsl(30deg 100% 40%);
  --main-color-lighter: hsl(220deg 20% 35%);
  --text-color: hsl(220deg 10% 85%);
  --text-color-darker: hsl(220deg 20% 75%);
  --button-padding: 10px 20px;
  --shadow: 1px 2px 2px hsl(220deg 30% 10% / 0.25);
  --card-color: hsl(220deg 30% 15%);
  --light-border: 1px solid var(--text-color);
  --lighter-border: 2px solid var(--main-color-lighter);
  --font-size-small: 1rem;
  --font-size-medium: 1.2rem;
  --font-size-large: 1.5rem;
  --black: hsl(220deg 35% 20%);
  --black-opaque: hsl(220deg 35% 20% / 0.85);
  --border-radius: 4px;
  --border-radius-left-side: var(--border-radius) 0 0 var(--border-radius);
  --border-radius-right-side: 0 var(--border-radius) var(--border-radius) 0;
  --border-radius-circle: 50%;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  background-image: var(--gradient-two);
  color: var(--text-color);
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Reddit Sans', sans-serif;
  font-weight: var(--font-weight-normal);
  color: var(--black);
  font-size: 1.1rem;
  position: relative;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#auth {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
