.wrapper {
  padding: 10px;
}

.user {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-light);
  color: var(--text-color);
  display: flex;
  gap: 20px;
  align-items: center;
}

.details {
  display: flex;
  flex-direction: column;
}

.avatar {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
  background-color: var(--gray);
  /* background: var(--gradient-one); */
  color: var(--main-color-foreground);
  display: flex;
  font-size: var(--font-size-small);
  justify-content: center;
  align-items: center;
}

.hint {
  font-size: 0.8rem;
  color: inherit;
  color: var(--main-color-foreground);
}

.chat {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: left;
  width: 100%;
}

.active {
  background-color: var(--backdrop-color-dark);
  /* border-bottom: none; */
  color: var(--main-color-foreground);
}
