.wrapper {
  padding: 20px;
  border-bottom: 1px solid var(--gray);
}

.user {
  font-size: 1.1rem;
  color: var(--black);
}

.hint {
  font-size: 0.8rem;
  color: inherit;
  color: var(--main-color-foreground);
}

.chat {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: left;
}

.active {
  background-color: var(--supporting-color-darker);
  /* border-bottom: none; */
  color: var(--main-color-foreground);
}
